.pageContainer {
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;

	.menuBar {
		-webkit-app-region: drag;
		height: 40px;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.btnContainer {
			-webkit-app-region: no-drag;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			margin-right: 10px;

			mat-icon {
				color: white;
				cursor: pointer;
			}
		}
	}
}
