@import '../assets/variables';

.pageContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.contentContainer {
		flex: 1;
		display: flex;
		flex-direction: row;
		width: 100%;

		.routerContainer {
			flex: 1;
		}

		.leftMenu {
			width: 50px;
		}
	}

	.menuBar {
		-webkit-app-region: drag;
		height: 25px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-radius: 0 0 8px 8px;

		.btnContainer {
			-webkit-app-region: no-drag;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			margin-right: 10px;

			mat-icon {
				color: white;
				cursor: pointer;
				font-size: 18px;
				width: auto;
				height: auto;
			}
		}
	}
}
