<div *ngIf="item" class="itemContainer">
  <div class="closeButton" (click)="handleItemRemove()">
    <mat-icon>close</mat-icon>
  </div>
  <div class="thumbContainer">
    <img [src]="item.file_thumbnail">
    <div @animateIn class="time">
      {{item.file_duration|time}}
    </div>
  </div>
  <div class="infoContainer">
    <div class="title" [title]="item.file_title">
      {{item.file_title}}
    </div>
    <div class="actions">
      <app-progress-bar *ngIf="item.progress" [progress]="item.progress"></app-progress-bar>
      <div class="buttonContainer" (click)="handleItemDownload()">
        <app-button>
          <mat-icon *ngIf="!item.downloading && item.progress == 0">
            get_app
          </mat-icon>
          <mat-icon *ngIf="item.downloading">
            pause
          </mat-icon>
          <mat-icon *ngIf="item.progress != 0 && !item.downloading">
            play_arrow
          </mat-icon>
        </app-button>
      </div>
    </div>
  </div>
</div>