<div class="itemContainer">
  <div class="background">
    <img [src]="item.file_thumbnail" alt="">
    <div class="blur">
      <div class="actionContainer">
        <div class="action">
          <mat-icon (click)="handleItemAction('file')">play_arrow</mat-icon>
        </div>
        <div class="action">
          <mat-icon (click)="handleItemAction('folder')">folder</mat-icon>
        </div>
      </div>
      <div class="infoContainer">
        <div class="info">
          {{item.file_title}}
        </div>
      </div>
    </div>
  </div>

</div>